#######################################################################################################
#
# Requirements files for "pip"
#
#       http://pypi.python.org/pypi/pip
#
#######################################################################################################
requests>=2.0.0                         # HTTP library for Python
